:root{
	--logo: #ff764d;
	--secondaryLink: #0000ff;
	--bgClip1: #fbffa7;
	--bgClip2: #b6ffc0;
	--bgClip3: #d5b3ff;
	--bgClip4: #b1c5ff;
	--bgMain: rgb(224, 224, 224);
	--bgsecondary: whitesmoke;
	--font: Arial, Helvetica, sans-serif;


	--size-10: 0.625rem;
	--size-14: 0.875rem;
	--size-16: 1rem;
	--size-18: 1.125rem;
	--size-20: 1.25rem;
	--size-30: 1.875rem;
	--size-40: 2.5rem;
	--size-50: 3.125rem;
	--size-70: 4.375rem;
	--size-100: 6.25rem;
	--size-150: 9.375rem;

}

body{
	font-family: var(--font);
	font-size: var(--size-16);
	font-weight: 400;
	background-color: var(--bgMain);
	margin: 0;
	padding:0;
}


*{
	box-sizing: border-box;
}


nav{
	display: block;
	padding: 0;
	margin-bottom:3px;
}

ul{
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	font-size: var(--size-18);
}


.container{
	background-color: var(--bgsecondary);
	margin: 0 auto;
     padding: 0;
}



@media screen and (min-width: 1700px) {
	.container {max-width: calc(100vw - 15rem);;}
}